ALTER TABLE blog_article ADD CONSTRAINT FK_EECCB3E512469DE2 FOREIGN KEY (category_id) REFERENCES blog_category (id);
ALTER TABLE blog_article ADD CONSTRAINT FK_EECCB3E5F675F31B FOREIGN KEY (author_id) REFERENCES users (userId);
CREATE INDEX IDX_EECCB3E512469DE2 ON blog_article (category_id);
CREATE INDEX IDX_EECCB3E5F675F31B ON blog_article (author_id);
ALTER TABLE blog_category CHANGE id id INT AUTO_INCREMENT NOT NULL, CHANGE name name VARCHAR(120) NOT NULL, CHANGE description description LONGTEXT DEFAULT NULL, CHANGE slug slug VARCHAR(150) NOT NULL, CHANGE image_url image_url VARCHAR(255) DEFAULT NULL, ADD PRIMARY KEY (id);
CREATE UNIQUE INDEX UNIQ_72113DE65E237E06 ON blog_category (name);
CREATE UNIQUE INDEX UNIQ_72113DE6989D9B62 ON blog_category (slug);
ALTER TABLE event_booking CHANGE total_price total_price NUMERIC(10, 2) DEFAULT 0 NOT NULL;
ALTER TABLE fighters CHANGE eloRating eloRating DOUBLE PRECISION DEFAULT 1500 NOT NULL, CHANGE performanceScore performanceScore DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE strengthOfSchedule strengthOfSchedule DOUBLE PRECISION DEFAULT 1500 NOT NULL;
ALTER TABLE performance_score CHANGE score score DOUBLE PRECISION DEFAULT 0 NOT NULL;
ALTER TABLE ranking CHANGE points points DOUBLE PRECISION DEFAULT 0 NOT NULL;
