CREATE TABLE blog_article (id INT AUTO_INCREMENT NOT NULL, title VARCHAR(220) NOT NULL, content LONGTEXT NOT NULL, summary LONGTEXT DEFAULT NULL, status VARCHAR(20) NOT NULL, view_count INT DEFAULT 0 NOT NULL, created_at DATETIME NOT NULL, updated_at DATETIME NOT NULL, image_path VARCHAR(255) DEFAULT NULL, video_path VARCHAR(255) DEFAULT NULL, category_id INT NOT NULL, author_id INT NOT NULL, INDEX IDX_EECCB3E512469DE2 (category_id), INDEX IDX_EECCB3E5F675F31B (author_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE blog_category (id INT AUTO_INCREMENT NOT NULL, name VARCHAR(120) NOT NULL, description LONGTEXT DEFAULT NULL, slug VARCHAR(150) NOT NULL, image_url VARCHAR(255) DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME NOT NULL, UNIQUE INDEX UNIQ_72113DE65E237E06 (name), UNIQUE INDEX UNIQ_72113DE6989D9B62 (slug), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE discipline (id INT AUTO_INCREMENT NOT NULL, name VARCHAR(100) NOT NULL, description LONGTEXT DEFAULT NULL, weight_class VARCHAR(60) DEFAULT NULL, round_duration INT DEFAULT 3 NOT NULL, max_rounds INT DEFAULT 3 NOT NULL, created_at DATETIME NOT NULL, updated_at DATETIME NOT NULL, UNIQUE INDEX UNIQ_75BEEE3F5E237E06 (name), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE event_booking (id INT AUTO_INCREMENT NOT NULL, booking_status VARCHAR(20) NOT NULL, ticket_quantity INT DEFAULT 1 NOT NULL, total_price NUMERIC(10, 2) DEFAULT 0 NOT NULL, ticket_type VARCHAR(20) NOT NULL, booking_date DATE NOT NULL, booking_reference VARCHAR(64) NOT NULL, created_at DATETIME NOT NULL, updated_at DATETIME NOT NULL, event_id INT NOT NULL, user_id INT NOT NULL, INDEX IDX_655B447171F7E88B (event_id), INDEX IDX_655B4471A76ED395 (user_id), UNIQUE INDEX uq_eb_event_user (event_id, user_id), UNIQUE INDEX uq_eb_reference (booking_reference), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE fan_preference (id INT AUTO_INCREMENT NOT NULL, created_at DATETIME NOT NULL, updated_at DATETIME NOT NULL, fan_id INT NOT NULL, favorite_discipline_id INT DEFAULT NULL, favorite_fighter_id INT DEFAULT NULL, INDEX IDX_E207F05278B04DCA (favorite_discipline_id), INDEX IDX_E207F0522A58A1BC (favorite_fighter_id), UNIQUE INDEX uq_fan_preference (fan_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE fan_profile (id INT AUTO_INCREMENT NOT NULL, favorite_sport VARCHAR(100) DEFAULT NULL, country VARCHAR(100) DEFAULT NULL, bio LONGTEXT DEFAULT NULL, user_id INT NOT NULL, UNIQUE INDEX UNIQ_E95F4CF4A76ED395 (user_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE fan_reaction (id INT AUTO_INCREMENT NOT NULL, reaction_type VARCHAR(20) NOT NULL, comment VARCHAR(140) DEFAULT NULL, reacted_at DATETIME NOT NULL, is_pinned TINYINT DEFAULT 0 NOT NULL, is_deleted TINYINT DEFAULT 0 NOT NULL, fight_result_id INT NOT NULL, fan_id INT NOT NULL, INDEX IDX_8ED024852F087A36 (fight_result_id), INDEX IDX_8ED0248589C48F0B (fan_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE match_proposal (id INT AUTO_INCREMENT NOT NULL, compatibility NUMERIC(5, 2) DEFAULT NULL, status VARCHAR(20) NOT NULL, proposed_at DATETIME NOT NULL, notes LONGTEXT DEFAULT NULL, event_id INT DEFAULT NULL, fighter1_id INT NOT NULL, fighter2_id INT NOT NULL, INDEX IDX_629F4EE471F7E88B (event_id), INDEX IDX_629F4EE4D783CFD6 (fighter1_id), INDEX IDX_629F4EE4C5366038 (fighter2_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
ALTER TABLE blog_article ADD CONSTRAINT FK_EECCB3E512469DE2 FOREIGN KEY (category_id) REFERENCES blog_category (id);
ALTER TABLE blog_article ADD CONSTRAINT FK_EECCB3E5F675F31B FOREIGN KEY (author_id) REFERENCES users (userId);
ALTER TABLE event_booking ADD CONSTRAINT FK_655B447171F7E88B FOREIGN KEY (event_id) REFERENCES events (eventId);
ALTER TABLE event_booking ADD CONSTRAINT FK_655B4471A76ED395 FOREIGN KEY (user_id) REFERENCES users (userId);
ALTER TABLE fan_preference ADD CONSTRAINT FK_E207F05289C48F0B FOREIGN KEY (fan_id) REFERENCES users (userId);
ALTER TABLE fan_preference ADD CONSTRAINT FK_E207F05278B04DCA FOREIGN KEY (favorite_discipline_id) REFERENCES discipline (id);
ALTER TABLE fan_preference ADD CONSTRAINT FK_E207F0522A58A1BC FOREIGN KEY (favorite_fighter_id) REFERENCES fighters (fighterId);
ALTER TABLE fan_profile ADD CONSTRAINT FK_E95F4CF4A76ED395 FOREIGN KEY (user_id) REFERENCES users (userId);
ALTER TABLE fan_reaction ADD CONSTRAINT FK_8ED024852F087A36 FOREIGN KEY (fight_result_id) REFERENCES fight_results (resultId);
ALTER TABLE fan_reaction ADD CONSTRAINT FK_8ED0248589C48F0B FOREIGN KEY (fan_id) REFERENCES users (userId);
ALTER TABLE match_proposal ADD CONSTRAINT FK_629F4EE471F7E88B FOREIGN KEY (event_id) REFERENCES events (eventId);
ALTER TABLE match_proposal ADD CONSTRAINT FK_629F4EE4D783CFD6 FOREIGN KEY (fighter1_id) REFERENCES fighters (fighterId);
ALTER TABLE match_proposal ADD CONSTRAINT FK_629F4EE4C5366038 FOREIGN KEY (fighter2_id) REFERENCES fighters (fighterId);
ALTER TABLE events CHANGE eventDate eventDate DATE DEFAULT NULL, CHANGE organization organization VARCHAR(20) DEFAULT 'INDEPENDENT' NOT NULL, CHANGE venue venue VARCHAR(200) DEFAULT NULL, CHANGE city city VARCHAR(100) DEFAULT NULL, CHANGE country country VARCHAR(2) DEFAULT NULL, CHANGE poster_filename poster_filename VARCHAR(255) DEFAULT NULL, CHANGE status status VARCHAR(20) DEFAULT 'SCHEDULED' NOT NULL;
ALTER TABLE fighters CHANGE nickname nickname VARCHAR(100) DEFAULT NULL, CHANGE nationality nationality VARCHAR(2) DEFAULT NULL, CHANGE photo_filename photo_filename VARCHAR(255) DEFAULT NULL, CHANGE eloRating eloRating DOUBLE PRECISION DEFAULT 1500 NOT NULL, CHANGE performanceScore performanceScore DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE strengthOfSchedule strengthOfSchedule DOUBLE PRECISION DEFAULT 1500 NOT NULL, CHANGE last_fight_date last_fight_date DATE DEFAULT NULL;
ALTER TABLE fight_results CHANGE methodOfVictory methodOfVictory VARCHAR(50) DEFAULT NULL, CHANGE decision_type decision_type VARCHAR(10) DEFAULT NULL, CHANGE belt_organization belt_organization VARCHAR(20) DEFAULT NULL, CHANGE fighter1_odds fighter1_odds DOUBLE PRECISION DEFAULT NULL, CHANGE fighter2_odds fighter2_odds DOUBLE PRECISION DEFAULT NULL, CHANGE fightDate fightDate DATETIME DEFAULT NULL, CHANGE status status VARCHAR(20) DEFAULT 'SCHEDULED' NOT NULL;
ALTER TABLE notifications CHANGE type type VARCHAR(50) DEFAULT NULL;
ALTER TABLE performance_score CHANGE score score DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE aggression aggression DOUBLE PRECISION DEFAULT NULL, CHANGE defense defense DOUBLE PRECISION DEFAULT NULL, CHANGE technique technique DOUBLE PRECISION DEFAULT NULL, CHANGE experience experience DOUBLE PRECISION DEFAULT NULL, CHANGE calculated_at calculated_at DATETIME DEFAULT NULL;
ALTER TABLE ranking CHANGE points points DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE organization organization VARCHAR(20) DEFAULT 'MEDIA' NOT NULL, CHANGE last_fight_date last_fight_date DATE DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE users CHANGE email email VARCHAR(200) DEFAULT NULL, CHANGE createdDate createdDate DATETIME DEFAULT NULL;
