DROP TABLE event;
DROP TABLE fan_notification;
DROP TABLE fan_prediction;
DROP TABLE fighter;
DROP TABLE fight_result;
DROP TABLE fight_stat;
DROP TABLE system_meta;
DROP TABLE user;
DROP TABLE user_role;
DROP TABLE weight_class;
ALTER TABLE blog_article DROP FOREIGN KEY `FK_EECCB3E5F675F31B`;
ALTER TABLE blog_article ADD CONSTRAINT FK_EECCB3E5F675F31B FOREIGN KEY (author_id) REFERENCES users (userId);
ALTER TABLE event_booking DROP FOREIGN KEY `FK_655B447171F7E88B`;
ALTER TABLE event_booking DROP FOREIGN KEY `FK_655B4471A76ED395`;
ALTER TABLE event_booking CHANGE total_price total_price NUMERIC(10, 2) DEFAULT 0 NOT NULL, CHANGE ticket_type ticket_type VARCHAR(30) NOT NULL;
ALTER TABLE event_booking ADD CONSTRAINT FK_655B447171F7E88B FOREIGN KEY (event_id) REFERENCES events (eventId);
ALTER TABLE event_booking ADD CONSTRAINT FK_655B4471A76ED395 FOREIGN KEY (user_id) REFERENCES users (userId);
ALTER TABLE fan_preference DROP FOREIGN KEY `FK_E207F0522A58A1BC`;
ALTER TABLE fan_preference DROP FOREIGN KEY `FK_E207F05289C48F0B`;
ALTER TABLE fan_preference ADD CONSTRAINT FK_E207F0522A58A1BC FOREIGN KEY (favorite_fighter_id) REFERENCES fighters (fighterId);
ALTER TABLE fan_preference ADD CONSTRAINT FK_E207F05289C48F0B FOREIGN KEY (fan_id) REFERENCES users (userId);
ALTER TABLE fan_profile DROP FOREIGN KEY `FK_E95F4CF4A76ED395`;
ALTER TABLE fan_profile ADD CONSTRAINT FK_E95F4CF4A76ED395 FOREIGN KEY (user_id) REFERENCES users (userId);
ALTER TABLE fan_reaction DROP FOREIGN KEY `FK_8ED024852F087A36`;
ALTER TABLE fan_reaction DROP FOREIGN KEY `FK_8ED0248589C48F0B`;
ALTER TABLE fan_reaction ADD CONSTRAINT FK_8ED024852F087A36 FOREIGN KEY (fight_result_id) REFERENCES fight_results (resultId);
ALTER TABLE fan_reaction ADD CONSTRAINT FK_8ED0248589C48F0B FOREIGN KEY (fan_id) REFERENCES users (userId);
ALTER TABLE fighters CHANGE eloRating eloRating DOUBLE PRECISION DEFAULT 1500 NOT NULL, CHANGE performanceScore performanceScore DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE strengthOfSchedule strengthOfSchedule DOUBLE PRECISION DEFAULT 1500 NOT NULL;
ALTER TABLE fight_statistic ADD body_shots_landed INT DEFAULT 0 NOT NULL, ADD body_jabs_landed INT DEFAULT 0 NOT NULL, ADD body_power_landed INT DEFAULT 0 NOT NULL, ADD jabs_landed INT DEFAULT 0 NOT NULL, ADD jabs_thrown INT DEFAULT 0 NOT NULL, ADD power_punches_landed INT DEFAULT 0 NOT NULL, ADD power_punches_thrown INT DEFAULT 0 NOT NULL, ADD uppercuts_landed INT DEFAULT 0 NOT NULL, ADD uppercuts_thrown INT DEFAULT 0 NOT NULL, ADD right_hand_landed INT DEFAULT 0 NOT NULL, ADD right_hand_thrown INT DEFAULT 0 NOT NULL, ADD left_hand_landed INT DEFAULT 0 NOT NULL, ADD left_hand_thrown INT DEFAULT 0 NOT NULL, ADD commentary LONGTEXT DEFAULT NULL, DROP strikes_landed, DROP strikes_attempted, DROP takedowns_landed, DROP takedowns_attempted, DROP submission_attempts, DROP control_time_seconds, DROP created_at, DROP updated_at, CHANGE round_number round INT DEFAULT NULL;
ALTER TABLE fight_statistic ADD CONSTRAINT FK_4C348AE92F087A36 FOREIGN KEY (fight_result_id) REFERENCES fight_results (resultId);
ALTER TABLE fight_statistic ADD CONSTRAINT FK_4C348AE934934341 FOREIGN KEY (fighter_id) REFERENCES fighters (fighterId);
CREATE INDEX IDX_4C348AE92F087A36 ON fight_statistic (fight_result_id);
CREATE INDEX IDX_4C348AE934934341 ON fight_statistic (fighter_id);
ALTER TABLE match_proposal DROP FOREIGN KEY `FK_629F4EE471F7E88B`;
ALTER TABLE match_proposal DROP FOREIGN KEY `FK_629F4EE4C5366038`;
ALTER TABLE match_proposal DROP FOREIGN KEY `FK_629F4EE4D783CFD6`;
ALTER TABLE match_proposal DROP FOREIGN KEY `FK_MP_WEIGHT_CLASS`;
DROP INDEX IDX_629F4EE4A0206A65 ON match_proposal;
ALTER TABLE match_proposal ADD vote_count INT DEFAULT 0 NOT NULL, ADD weight_division_id INT DEFAULT NULL, DROP scheduled_rounds, DROP is_title_fight, DROP weight_class_id, DROP odds_fighter1, DROP odds_fighter2, DROP card_position, DROP card_type;
ALTER TABLE match_proposal ADD CONSTRAINT FK_629F4EE471F7E88B FOREIGN KEY (event_id) REFERENCES events (eventId);
ALTER TABLE match_proposal ADD CONSTRAINT FK_629F4EE4C5366038 FOREIGN KEY (fighter2_id) REFERENCES fighters (fighterId);
ALTER TABLE match_proposal ADD CONSTRAINT FK_629F4EE4D783CFD6 FOREIGN KEY (fighter1_id) REFERENCES fighters (fighterId);
ALTER TABLE match_proposal ADD CONSTRAINT FK_629F4EE454374256 FOREIGN KEY (weight_division_id) REFERENCES weight_division (id);
CREATE INDEX IDX_629F4EE454374256 ON match_proposal (weight_division_id);
ALTER TABLE performance_score ADD calculated_at DATETIME DEFAULT NULL, DROP season, DROP computed_at, DROP created_at, DROP updated_at, CHANGE score score DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE aggression aggression DOUBLE PRECISION DEFAULT NULL, CHANGE defense defense DOUBLE PRECISION DEFAULT NULL, CHANGE technique technique DOUBLE PRECISION DEFAULT NULL, CHANGE experience experience DOUBLE PRECISION DEFAULT NULL;
ALTER TABLE performance_score ADD CONSTRAINT FK_6A3980CE34934341 FOREIGN KEY (fighter_id) REFERENCES fighters (fighterId);
CREATE INDEX IDX_6A3980CE34934341 ON performance_score (fighter_id);
ALTER TABLE ranking DROP FOREIGN KEY `FK_80B839D0A0206A65`;
DROP INDEX IDX_80B839D0A0206A65 ON ranking;
ALTER TABLE ranking ADD organization VARCHAR(20) DEFAULT 'MEDIA' NOT NULL, ADD is_champion TINYINT DEFAULT 0 NOT NULL, ADD last_fight_date DATE DEFAULT NULL, DROP weight_class, DROP season, DROP created_at, CHANGE rank_position rank_position INT DEFAULT 999 NOT NULL, CHANGE points points DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE weight_class_id weight_division_id INT DEFAULT NULL;
ALTER TABLE ranking ADD CONSTRAINT FK_80B839D034934341 FOREIGN KEY (fighter_id) REFERENCES fighters (fighterId);
ALTER TABLE ranking ADD CONSTRAINT FK_80B839D054374256 FOREIGN KEY (weight_division_id) REFERENCES weight_division (id);
CREATE INDEX IDX_80B839D034934341 ON ranking (fighter_id);
CREATE INDEX IDX_80B839D054374256 ON ranking (weight_division_id);
